@font-face {
    font-family: 'M-Light';
    src: url("./fonts/Montserrat-Light.ttf");
}

@font-face {
    font-family: 'M-Regular';
    src: url("./fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: 'M-SemiBold';
    src: url("./fonts/Montserrat-SemiBold.ttf");
}

html, body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'M-Regular', sans-serif;
}

.main-wrapper {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, #258ad6, #22508f);
}

.main-wrapper header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.39), transparent);
    font-size: 35px;
    color: white;
}

.main-wrapper h2 {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message {
    padding: 5px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    color: white;
    text-align: center;
}

.overview-btn {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.2s;
    cursor: pointer;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    border: 2px solid #efff0e;
    padding: 10px;
}

.gold {
    color: gold;
}

.silver {
    color: silver;
}

.bronze {
    color: #8b7025;
}

.overview-btn:hover {
    transition: 0.2s;
    box-shadow: 0 0 20px #efff0e;
}

.overview-btn p {
    color: #efff0e;
    font-size: 26px;
}

.init-btns {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.init-manual, .init-web {
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.53);
    padding: 10px;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.34);
    transform: translateY(-5px);
}

.init-manual:hover {
    transition: 0.2s;
    box-shadow: 0 0 0;
    transform: translateY(0px);
}

.init-web:hover {
    transition: 0.2s;
    box-shadow: 0 0 0;
    transform: translateY(0px);
}


.t-wrapper {
    padding: 0 40px;
    margin-top: 110px;
    display: flex;
    flex-direction: column;
}

.t-wrapper p {
    color: white;
}

.t-wrapper > hr {
    width: 100%;
    margin: 0;
}

.t-head {
    display: flex;
    font-size: 28px;
}

.t-head-title, .t-head-tour {
    text-align: center;
    vertical-align: center;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}

.t-head-title {
    width: 550px;
}

.t-head-tour {
    cursor: pointer;
    transition: 0.2s;
    width: 120px;
    padding: 0 5px 10px 5px;
    font-family: 'M-Regular', sans-serif;
    color: white;
}

.t-head-button {
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 40px;
    height: 40px;
    background: #efff0e;
    color: black;
    font-size: 18px;
    font-family: 'M-Regular', sans-serif;
    border-radius: 50%;
    border: 0;
}

.t-head-button:hover {
    transition: 0.3s;
    box-shadow: 0 0 15px #ffffff;
    background: white;
}

.t-head-tour:hover, .t-head-tour p:hover {
    animation: tourAnim 0.6s ease-in-out infinite;
}

.t-head-number {
    width: 50px;
    border-bottom: 1px solid white;
}

.t-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: auto;
    font-family: 'M-SemiBold', sans-serif;
    border-radius: 50%;
    text-align: center;

}

.t-title {
    width: 550px;
    text-align: center;
}

.t-title p {
    word-break: break-all;
}

.t-tour {
    border-left: 1px solid white;
}

.t-tour {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    padding: 0 5px 5px 5px;
}

.t-tour input {
    text-align: center;
    padding: 5px;
    outline: none;
    transition: 0.3s;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    font-family: 'M-Regular', sans-serif;
    color: #efff0e;
    font-size: 18px;
}

.t-tour input:focus {
    transition: 0.3s;
    box-shadow: 0 0 15px #efff0e;
    border: 2px solid #efff0e;
}

.t-body {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.t-row {
    display: flex;
    flex-direction: column;
    font-size: 26px;
}

.t-row hr {
    width: 100%;
    box-shadow: 0 0 10px white;
}

.t-row-content {
    display: flex;
}

.del-btn {
    width: 200px;
    border-radius: 40px;
    border: 1px solid #bebebd;
    margin-left: 70%;
    padding: 5px;
    /* margin-right: auto; */
}

.exp-btn {
    width: 200px;
    border-radius: 40px;
    border: 1px solid #bebebd;
    margin-left: 30%;
    padding: 5px;
    /* margin-right: auto; */
}

.export {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.432);
    z-index: 20;
}

.login-form {
    position: absolute;
    width: 60%;
    height: 40%;
    left: 20%;
    top: 30%;
    background-color: #258ad6;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.login-form .inputs {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.login-form .inputs input {
    margin-left: 20px;
    border-radius: 50px;
    padding: 10px 15px;
    outline: none;
    border: 1px solid #efff0e;
    font-family: 'M-Regular', sans-serif;
    font-size: 20px;
}

.login-form .inputs label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 20px;
    font-family: 'M-Regular', sans-serif;
}

.login-form button {
    cursor: pointer;
    font-family: 'M-Light', sans-serif;
    width: 200px;
    font-size: 22px;
    border-radius: 40px;
    border: 1px solid #bebebd;
    padding: 5px;
    box-shadow: 0 4px 10px rgba(43, 43, 43, 0.53);
}

.additional-btns {
    display: flex;
    justify-content: space-around;
}

@keyframes tourAnim {
    0% {
        background: transparent;
        color: white;
    }
    50% {
        background: #efff0e;
        color: black;
        box-shadow: 0 0 10px #efff0e;

    }
    100% {
        background: transparent;
        color: white;
    }
}