<!DOCTYPE html>
<html>
<head>
    <title>Hello World!</title>
    <link rel="stylesheet" href="./styles/style.css">

</head>
<body>
<div class="main-wrapper" >
    <header>
        <h2>Табло</h2>
    </header>
    <div class="init-btns" id="init-btns">
        <div class="init-manual" v-on:click="initManual()">
            <p>Заполнить команды вручную</p>
        </div>
        <div class="init-web">
            <p>Запросить информацию из сервера</p>
        </div>
    </div>
    <div class="t-wrapper" id="table-score">
        <div class="t-head">
            <div class="t-head-title">
                <p>Название</p>
            </div>
            <div class="t-head-tour" v-for="num in tourNumbers">
                <div v-if="!num.isEdit">
                    <span v-on:click="editTour(num.value)">{{num.value}} тур</span>
                </div>
                <div class="t-head-button" v-else>
                    <span v-on:click="submitTour(num.value)">OK</span>
                </div>
            </div>
            <div class="t-head-tour">
                <p>Cчет</p>
            </div>
        </div>
        <div class="t-body">
            <div class="t-row" v-for="team in teams">
                <div class="t-row-content">
                    <div class="t-title">
                        <p>{{team.name}}</p>
                    </div>
                    <div class="t-tour" v-for="tour in team.tours">
                        <p v-if="!tour.isEdit">{{tour.value}}</p>
                        <div v-else>
                            <label>
                                <input v-model="tour.value">
                            </label>
                        </div>
                    </div>
                    <div class="t-tour">
                        <p>{{team.sum}}</p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
<script src="./scripts/vue.js"></script>
<script src="./scripts/renderer.js"></script>
</body>
</html>
